<h1>Update student</h1>
<%= form_for([@instructor ,@student])@student do |f|%>
<%= f.text_field :first_name, placeholder: 'first name'%><br>

<%= f.text_field :last_name, placeholder: 'last name'%><br>

<%= f.number_field :age, placeholder: 'Age'%><br>

<%= f.text_field :education, placeholder: 'Education level', required: true%><br>

<%= f.submit 'update' %><br>
<% end %>
