<h1>Instructors</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Education</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |ins| %>
      <tr>
        <td><%= ins.first_name %></td>
        <td><%= ins.last_name %></td>
        <td><%= ins.age %></td>
        <td>$<%= ins.salary %></td>
        <td><%= ins.education %></td>
        <td><%= link_to 'Show', ins %></td>
        <td><%= link_to 'Edit', edit_instructor_path(ins)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Register new instructor', instructors_new_path %>
